[Tt]emp/
[Ll]ibrary/
[Ll]ogs/
[Uu]ser[Ss]ettings/
Library/ArtifactDB
Library/expandedItems
Library/SceneVisibilityState.asset
Library/SourceAssetDB
Library/StateCache/MainStageHierarchy/4d/4d2a36d9faf65734f0bbefb3ee623532.json
Library/StateCache/MainStageHierarchy/4d/4d2a36d9faf65734f0bbefb3ee623532.json
Library/StateCache/MainStageHierarchy/4d/4d2a36d9faf65734f0bbefb3ee623532.json
Library/ArtifactDB
Library/expandedItems
Library/SceneVisibilityState.asset
Library/SourceAssetDB
Logs/AssetImportWorker0.log
Logs/AssetImportWorker1.log
Logs/shadercompiler-AssetImportWorker0.log
UserSettings/Layouts/default-2021.dwlt
